.top-header-header-div{
    background-color: #d6932c;
    max-height: 40vh;
    width: auto;
    display: flex;
    flex-flow: column;
    padding: 6.6vh 13vw;
}
.top-header-heading{
    display: flex;
    /* font-size: xx-large; */
}
.top-header-heading h2{
    margin: 0;
    color: white;
    font-size: xx-large;
    font-weight: 500;
}
